src/test/java/gov/niem/tools/api/transform/output/cmf-to-xsd/CrashDriver/xsd/niem/domains/jxdm.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
  xmlns:aamva_d20="http://release.niem.gov/niem/codes/aamva_d20/5.0/>
           xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/"
           xmlns:j="http://release.niem.gov/niem/domains/jxdm/7.0/"
           xmlns:nc="http://release.niem.gov/niem/niem-core/5.0/"
           xmlns:structures="http://release.niem.gov/niem/structures/5.0/"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xs-proxy="http://release.niem.gov/niem/proxy/niem-xs/5.0/"
           ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/5.0/#ReferenceSchemaDocument"
           targetNamespace="http://release.niem.gov/niem/domains/jxdm/7.0/"
           version="1">
   <xs:annotation>
      <xs:documentation>Justice</xs:documentation>
   </xs:annotation>
   <xs:import namespace="http://release.niem.gov/niem/niem-core/5.0/>
              schemaLocation="../niem-core.xsd"/>
   <xs:import namespace="http://release.niem.gov/niem/codes/aamva_d20/5.0/>
              schemaLocation="../codes/aamva_d20.xsd"/>
   <xs:import namespace="http://release.niem.gov/niem/proxy/niem-xs/5.0/>
              schemaLocation="../adapters/niem-xs.xsd"/>
   <xs:import namespace="http://release.niem.gov/niem/structures/5.0/>
              schemaLocation="../utility/structures.xsd"/>
   <xs:complexType name="ChargeType">
      <xs:annotation>
         <xs:documentation>A data type for a formal allegation that a specific person has committed a specific offense.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="structures:ObjectType">
            <xs:sequence>
               <xs:element ref="j:ChargeDescriptionText"/>
               <xs:element ref="j:ChargeFelonyIndicator" minOccurs="0"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="CrashDriverType">
      <xs:annotation>
         <xs:documentation>A data type for a motor vehicle driver involved in a traffic accident.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="structures:ObjectType">
            <xs:sequence>
               <xs:element ref="nc:RoleOfPerson"/>
               <xs:element ref="j:DriverLicense" minOccurs="0"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="CrashPassengerType">
      <xs:annotation>
         <xs:documentation>A data type for a motor vehicle passenger involved into a Traffic Accident.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="structures:ObjectType">
            <xs:sequence>
               <xs:element ref="nc:RoleOfPerson"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="CrashPersonType">
      <xs:annotation>
         <xs:documentation>A data type for any person involved in a traffic accident.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="structures:ObjectType">
            <xs:sequence>
               <xs:element ref="nc:RoleOfPerson"/>
               <xs:element ref="j:CrashPersonInjury" minOccurs="0" maxOccurs="unbounded"/>
               <xs:element maxOccurs="unbounded>
                           minOccurs="0"
                           ref="j:CrashPersonAugmentationPoint"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="CrashType">
      <xs:annotation>
         <xs:documentation>A data type for a traffic accident.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="j:DrivingIncidentType">
            <xs:sequence>
               <xs:element ref="j:CrashVehicle"/>
               <xs:element ref="j:CrashPerson" minOccurs="0" maxOccurs="unbounded"/>
               <xs:element ref="nc:Location"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="CrashVehicleType">
      <xs:annotation>
         <xs:documentation>A data type for a motor vehicle involved in a traffic accident.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="structures:ObjectType">
            <xs:sequence>
               <xs:element ref="j:CrashDriver"/>
               <xs:element ref="j:CrashPassenger" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="DriverLicenseBaseType">
      <xs:annotation>
         <xs:documentation>A data type for an authorization issued to a driver granting driving privileges.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="structures:ObjectType">
            <xs:sequence/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="DriverLicenseType">
      <xs:annotation>
         <xs:documentation>A data type for a license issued to a person granting driving privileges.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="j:DriverLicenseBaseType">
            <xs:sequence>
               <xs:element ref="j:DriverLicenseCardIdentification"/>
               <xs:element maxOccurs="unbounded>
                           minOccurs="0"
                           ref="j:DriverLicenseAugmentationPoint"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="DrivingIncidentType">
      <xs:annotation>
         <xs:documentation>A data type for details of an incident involving a vehicle.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="nc:IncidentType">
            <xs:sequence/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="MetadataType">
      <xs:annotation>
         <xs:documentation>A data type for information that further qualifies the kind of data represented.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="structures:MetadataType">
            <xs:sequence>
               <xs:element ref="j:CriminalInformationIndicator" minOccurs="0"/>
               <xs:element ref="j:IntelligenceInformationIndicator" minOccurs="0"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="PersonChargeAssociationType">
      <xs:annotation>
         <xs:documentation>A data type for an association between a person and a charge.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="nc:AssociationType">
            <xs:sequence>
               <xs:element ref="nc:Person"/>
               <xs:element ref="j:Charge"/>
               <xs:element ref="j:JuvenileAsAdultIndicator" minOccurs="0"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="Charge" type="j:ChargeType" nillable="true">
      <xs:annotation>
         <xs:documentation>A formal allegation that a specific person has committed a specific offense.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:element name="ChargeDescriptionText" type="nc:TextType">
      <xs:annotation>
         <xs:documentation>A plain language description of a charge.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:element name="ChargeFelonyIndicator" type="xs-proxy:boolean">
      <xs:annotation>
         <xs:documentation>True if a charge refers to a felony offense; false otherwise.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:element name="Crash" type="j:CrashType">
      <xs:annotation>
         <xs:documentation>A traffic accident.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:element name="CrashDriver" type="j:CrashDriverType">
      <xs:annotation>
         <xs:documentation>A motor vehicle driver involved into a traffic accident.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:element name="CrashPassenger" type="j:CrashPassengerType">
      <xs:annotation>
         <xs:documentation>A motor vehicle passenger involved in a traffic accident.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:element name="CrashPerson" type="j:CrashPersonType">
      <xs:annotation>
         <xs:documentation>A person involved in a traffic accident.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:element name="CrashPersonAugmentationPoint" abstract="true">
      <xs:annotation>
         <xs:documentation>An augmentation point for CrashPersonType.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:element name="CrashPersonInjury" type="nc:InjuryType">
      <xs:annotation>
         <xs:documentation>An injury received by a person involved in a traffic accident.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:element name="CrashVehicle" type="j:CrashVehicleType">
      <xs:annotation>
         <xs:documentation>A motor vehicle involved in a traffic accident.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:element name="CriminalInformationIndicator" type="xs-proxy:boolean">
      <xs:annotation>
         <xs:documentation>True if the information specified is classified as criminal information; false if it is not classified as criminal information.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:element name="DriverLicense" type="j:DriverLicenseType">
      <xs:annotation>
         <xs:documentation>A license issued to a person granting driving privileges.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:element name="DriverLicenseAugmentationPoint" abstract="true">
      <xs:annotation>
         <xs:documentation>An augmentation point for DriverLicenseType.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:element name="DriverLicenseCardIdentification" type="nc:IdentificationType">
      <xs:annotation>
         <xs:documentation>An identification that is affixed to the raw materials (card stock, laminate, etc.) used in producing driver licenses and ID cards. The numbers are issued by the material's manufacturer and provide a unique reference to a card within a jurisdiction.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:element name="InjurySeverityCode>
               substitutionGroup="nc:InjurySeverityAbstract"
               type="aamva_d20:AccidentSeverityCodeType">
      <xs:annotation>
         <xs:documentation>A severity of an injury received by a person, such as in a traffic accident or crash.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:element name="IntelligenceInformationIndicator" type="xs-proxy:boolean">
      <xs:annotation>
         <xs:documentation>True if the information specified is intelligence information; false otherwise.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:element name="JuvenileAsAdultIndicator" type="xs-proxy:boolean">
      <xs:annotation>
         <xs:documentation>True if a juvenile is to be processed as an adult; false otherwise.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:element name="Metadata" type="j:MetadataType">
      <xs:annotation>
         <xs:documentation>Information that further qualifies the kind of data represented.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:element name="PersonChargeAssociation" type="j:PersonChargeAssociationType">
      <xs:annotation>
         <xs:documentation>An association between a person and a charge issued to that person.</xs:documentation>
      </xs:annotation>
   </xs:element>
</xs:schema>
